.red-background {
  background: red;
}

.blue-background {
  background: red;
}

.yellow-background {
  background: red;
}

.cyan-background {
  background: red;
}

.magenta-background {
  background: red;
}

.black-background {
  background: red;
}

.margen-0 {
  margin: 0px;
}

.fuente-0 {
  font-size: 0px;
}

.margen-1 {
  margin: 1px;
}

.fuente-1 {
  font-size: 1px;
}

.margen-2 {
  margin: 2px;
}

.fuente-2 {
  font-size: 2px;
}

.margen-3 {
  margin: 3px;
}

.fuente-3 {
  font-size: 3px;
}

.margen-4 {
  margin: 4px;
}

.fuente-4 {
  font-size: 4px;
}

.margen-5 {
  margin: 5px;
}

.fuente-5 {
  font-size: 5px;
}

.margen-6 {
  margin: 6px;
}

.fuente-6 {
  font-size: 6px;
}

.margen-7 {
  margin: 7px;
}

.fuente-7 {
  font-size: 7px;
}

.margen-8 {
  margin: 8px;
}

.fuente-8 {
  font-size: 8px;
}

.margen-9 {
  margin: 9px;
}

.fuente-9 {
  font-size: 9px;
}

.margen-10 {
  margin: 10px;
}

.fuente-10 {
  font-size: 10px;
}

.margen-11 {
  margin: 11px;
}

.fuente-11 {
  font-size: 11px;
}

.margen-12 {
  margin: 12px;
}

.fuente-12 {
  font-size: 12px;
}

.margen-13 {
  margin: 13px;
}

.fuente-13 {
  font-size: 13px;
}

.margen-14 {
  margin: 14px;
}

.fuente-14 {
  font-size: 14px;
}

.margen-15 {
  margin: 15px;
}

.fuente-15 {
  font-size: 15px;
}

.margen-16 {
  margin: 16px;
}

.fuente-16 {
  font-size: 16px;
}

.margen-17 {
  margin: 17px;
}

.fuente-17 {
  font-size: 17px;
}

.margen-18 {
  margin: 18px;
}

.fuente-18 {
  font-size: 18px;
}

.margen-19 {
  margin: 19px;
}

.fuente-19 {
  font-size: 19px;
}

.margen-20 {
  margin: 20px;
}

.fuente-20 {
  font-size: 20px;
}

.margen-21 {
  margin: 21px;
}

.fuente-21 {
  font-size: 21px;
}

.margen-22 {
  margin: 22px;
}

.fuente-22 {
  font-size: 22px;
}

.margen-23 {
  margin: 23px;
}

.fuente-23 {
  font-size: 23px;
}

.margen-24 {
  margin: 24px;
}

.fuente-24 {
  font-size: 24px;
}

.margen-25 {
  margin: 25px;
}

.fuente-25 {
  font-size: 25px;
}

.margen-26 {
  margin: 26px;
}

.fuente-26 {
  font-size: 26px;
}

.margen-27 {
  margin: 27px;
}

.fuente-27 {
  font-size: 27px;
}

.margen-28 {
  margin: 28px;
}

.fuente-28 {
  font-size: 28px;
}

.margen-29 {
  margin: 29px;
}

.fuente-29 {
  font-size: 29px;
}

.margen-30 {
  margin: 30px;
}

.fuente-30 {
  font-size: 30px;
}

.margen-31 {
  margin: 31px;
}

.fuente-31 {
  font-size: 31px;
}

.margen-32 {
  margin: 32px;
}

.fuente-32 {
  font-size: 32px;
}

.margen-33 {
  margin: 33px;
}

.fuente-33 {
  font-size: 33px;
}

.margen-34 {
  margin: 34px;
}

.fuente-34 {
  font-size: 34px;
}

.margen-35 {
  margin: 35px;
}

.fuente-35 {
  font-size: 35px;
}

.margen-36 {
  margin: 36px;
}

.fuente-36 {
  font-size: 36px;
}

.margen-37 {
  margin: 37px;
}

.fuente-37 {
  font-size: 37px;
}

.margen-38 {
  margin: 38px;
}

.fuente-38 {
  font-size: 38px;
}

.margen-39 {
  margin: 39px;
}

.fuente-39 {
  font-size: 39px;
}

.margen-40 {
  margin: 40px;
}

.fuente-40 {
  font-size: 40px;
}

.margen-41 {
  margin: 41px;
}

.fuente-41 {
  font-size: 41px;
}

.margen-42 {
  margin: 42px;
}

.fuente-42 {
  font-size: 42px;
}

.margen-43 {
  margin: 43px;
}

.fuente-43 {
  font-size: 43px;
}

.margen-44 {
  margin: 44px;
}

.fuente-44 {
  font-size: 44px;
}

.margen-45 {
  margin: 45px;
}

.fuente-45 {
  font-size: 45px;
}

.margen-46 {
  margin: 46px;
}

.fuente-46 {
  font-size: 46px;
}

.margen-47 {
  margin: 47px;
}

.fuente-47 {
  font-size: 47px;
}

.margen-48 {
  margin: 48px;
}

.fuente-48 {
  font-size: 48px;
}

.margen-49 {
  margin: 49px;
}

.fuente-49 {
  font-size: 49px;
}

.margen-50 {
  margin: 50px;
}

.fuente-50 {
  font-size: 50px;
}

.margen-51 {
  margin: 51px;
}

.fuente-51 {
  font-size: 51px;
}

.margen-52 {
  margin: 52px;
}

.fuente-52 {
  font-size: 52px;
}

.margen-53 {
  margin: 53px;
}

.fuente-53 {
  font-size: 53px;
}

.margen-54 {
  margin: 54px;
}

.fuente-54 {
  font-size: 54px;
}

.margen-55 {
  margin: 55px;
}

.fuente-55 {
  font-size: 55px;
}

.margen-56 {
  margin: 56px;
}

.fuente-56 {
  font-size: 56px;
}

.margen-57 {
  margin: 57px;
}

.fuente-57 {
  font-size: 57px;
}

.margen-58 {
  margin: 58px;
}

.fuente-58 {
  font-size: 58px;
}

.margen-59 {
  margin: 59px;
}

.fuente-59 {
  font-size: 59px;
}

.margen-60 {
  margin: 60px;
}

.fuente-60 {
  font-size: 60px;
}

.margen-61 {
  margin: 61px;
}

.fuente-61 {
  font-size: 61px;
}

.margen-62 {
  margin: 62px;
}

.fuente-62 {
  font-size: 62px;
}

.margen-63 {
  margin: 63px;
}

.fuente-63 {
  font-size: 63px;
}

.margen-64 {
  margin: 64px;
}

.fuente-64 {
  font-size: 64px;
}

.margen-65 {
  margin: 65px;
}

.fuente-65 {
  font-size: 65px;
}

.margen-66 {
  margin: 66px;
}

.fuente-66 {
  font-size: 66px;
}

.margen-67 {
  margin: 67px;
}

.fuente-67 {
  font-size: 67px;
}

.margen-68 {
  margin: 68px;
}

.fuente-68 {
  font-size: 68px;
}

.margen-69 {
  margin: 69px;
}

.fuente-69 {
  font-size: 69px;
}

.margen-70 {
  margin: 70px;
}

.fuente-70 {
  font-size: 70px;
}

.margen-71 {
  margin: 71px;
}

.fuente-71 {
  font-size: 71px;
}

.margen-72 {
  margin: 72px;
}

.fuente-72 {
  font-size: 72px;
}

.margen-73 {
  margin: 73px;
}

.fuente-73 {
  font-size: 73px;
}

.margen-74 {
  margin: 74px;
}

.fuente-74 {
  font-size: 74px;
}

.margen-75 {
  margin: 75px;
}

.fuente-75 {
  font-size: 75px;
}

.margen-76 {
  margin: 76px;
}

.fuente-76 {
  font-size: 76px;
}

.margen-77 {
  margin: 77px;
}

.fuente-77 {
  font-size: 77px;
}

.margen-78 {
  margin: 78px;
}

.fuente-78 {
  font-size: 78px;
}

.margen-79 {
  margin: 79px;
}

.fuente-79 {
  font-size: 79px;
}

.margen-80 {
  margin: 80px;
}

.fuente-80 {
  font-size: 80px;
}

.margen-81 {
  margin: 81px;
}

.fuente-81 {
  font-size: 81px;
}

.margen-82 {
  margin: 82px;
}

.fuente-82 {
  font-size: 82px;
}

.margen-83 {
  margin: 83px;
}

.fuente-83 {
  font-size: 83px;
}

.margen-84 {
  margin: 84px;
}

.fuente-84 {
  font-size: 84px;
}

.margen-85 {
  margin: 85px;
}

.fuente-85 {
  font-size: 85px;
}

.margen-86 {
  margin: 86px;
}

.fuente-86 {
  font-size: 86px;
}

.margen-87 {
  margin: 87px;
}

.fuente-87 {
  font-size: 87px;
}

.margen-88 {
  margin: 88px;
}

.fuente-88 {
  font-size: 88px;
}

.margen-89 {
  margin: 89px;
}

.fuente-89 {
  font-size: 89px;
}

.margen-90 {
  margin: 90px;
}

.fuente-90 {
  font-size: 90px;
}

.margen-91 {
  margin: 91px;
}

.fuente-91 {
  font-size: 91px;
}

.margen-92 {
  margin: 92px;
}

.fuente-92 {
  font-size: 92px;
}

.margen-93 {
  margin: 93px;
}

.fuente-93 {
  font-size: 93px;
}

.margen-94 {
  margin: 94px;
}

.fuente-94 {
  font-size: 94px;
}

.margen-95 {
  margin: 95px;
}

.fuente-95 {
  font-size: 95px;
}

.margen-96 {
  margin: 96px;
}

.fuente-96 {
  font-size: 96px;
}

.margen-97 {
  margin: 97px;
}

.fuente-97 {
  font-size: 97px;
}

.margen-98 {
  margin: 98px;
}

.fuente-98 {
  font-size: 98px;
}

.margen-99 {
  margin: 99px;
}

.fuente-99 {
  font-size: 99px;
}

.margen-100 {
  margin: 100px;
}

.fuente-100 {
  font-size: 100px;
}

#inicio {
  background: #660000;
  height: 100vh;
}
@media (max-width: 600px) {
  #inicio {
    background: yellow;
  }
}
#inicio .encabezado {
  border: 5px dashed green;
}

/*# sourceMappingURL=style.css.map */
